{% extends 'inc/base.html' %}
{% load static %}
{% block content %}
<style>
 .b2a{
  
  position: relative;
  left: 5%;
  color: aliceblue;
  border-radius: 5px;
  background-color: brown;
  border: 2px solid rgb(2, 240, 2) ;
}
  .q1{
   width: 45px;
  background:#5593AD;
 }
 .q12{
   width: 35px;
  background:#5593AD;
 }
.q11{
width: 20px;
  background:#5593AD;
}  
.first{
width: 755px;
}  
.point{
margin-top: -71.5%;
width: 750px;
}
.tfirst{
 margin-left: -0.1%;
}
.h1{
padding-top: 1.5%;
}
.b3{
position: absolute;
top: 3.2%;
left: 85%;
}
.onea{
 background:#5593AD;
 color:white;
 width: 15px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.oneb{
 background:#5593AD;
 color:white;
 width: 38px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onec{
 background:#5593AD;
 color:white;
 width: 48px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.oned{
 background:#5593AD;
 color:white;
 width: 50px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onee{
 background:#5593AD;
 color:white;
 width: 45px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onef{
 background:#5593AD;
 color:#ffffff;
 width: 50px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.oneg{
 background:#5593AD;
 color:white;
 width: 50px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.oneh{
 background:#5593AD;
 color:white;
 width: 40px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onei{
 background:#5593AD;
 color:white;
 width: 40px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onej{
 background:#5593AD;
 color:white;
 width: 65px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onek{
 background:#5593AD;
 color:white;
 width: 50px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.onel{
 background:#5593AD;
 color:white;
 width: 45px;
 height:50px;
 text-align:center;
 padding-top:25px ;
 font-size: 13px;
}
.b1{
    background-color: brown;
    border: 2px solid brown ;
  }
  .n5{
 
    border: 3px solid rgb(2, 240, 2);
  }
  .n4{
  top: 76px;
}
.n5{ width: 133px;
      height:65px ;
       background:#D9D9D9 ;
       position: relative;
       top: 136px;
       left: 20px;
       font-family: inherit;
       font-weight: 400;
       font-size: 20px;
       line-height: 24.2px;
       text-align: center;
       word-spacing: 25px;
       
       color: blue;
}
.n7{
  width: 133px;
      height:36px ;
       background:#D9D9D9 ;
       position: relative;
       top: 106px;
       left: 20px;
       font-family: inherit;
       font-weight: 400;
       font-size: 20px;
       line-height: 24.2px;
       text-align: center;
       word-spacing: 25px;
       border: 2px solid white;
       color: blue;
}
</style>
<div class="h1">
    <div class="h22">
      <a href="{% url 'createtravellar' %}"> <button class="n1">Travellar</button></a>
   
      <a href="{% url 'createairlines' %}"><button class="n2">Airlines</button></a>
      <a href="{% url 'createriskaction' %}"><button class="n4">Risk Action</button></a>
       <a href="{% url 'createcrew' %}"><button class="n7">Crew</button></a>
      

    <a href="{% url 'createjourneysearch' %}"><button class="n5">Journey Search</button></a>
     <div class="n6"> <img src="{% static 'mai.png' %}" alt="MAI logo " width="96px" height="188px"></div>
    </div>
   
     <div class="h33">

     </div>
     
     <div class=first>
  
        <table class=tfirst>
          <tr>
            <th><div class=onea>Id</div></th>
            <th><div class=oneb>No </div></th>
            <th><div class=onec>Name</div></th>
                <th><div class=oned>D.O.B</div></th>
            <th><div class=onee>Father</div></th>
            <th><div class=onef>Passport</div></th>
            <th><div class=oneg>Gender</div></th>
                <th><div  class="oneh">Flight Name</div> </th>
                <th><div class="onei">Sector</div></th>
                <th><div class=onej>Departure date and time</div></th>
                <th><div  class="onek">Arrival date and time</div> </th>
                <th><div class="onel">Risk Status</div> </th>
                
          </tr>
         
          {% for than in journeysearch %}
          <tr>
            <td>{{ than.id}}</td>
            <td>{{ than.no}}</td>
             <td>{{ than.name}}</td>
             <td>{{ than.dob}}</td>
             <td>{{ than.father}}</td>
             <td>{{ than.passport}}</td>
             <td>{{ than.gender}}</td>
             <td>{{ than.flightname}}</td>
             <td>{{ than.sector}}</td>
             <td>{{ than.departuredateandtime}}</td>
             <td>{{ than.arrivaldateandtime}}</td>
             <td>{{ than.riskstatus}}</td>
           

            <td> <a href="{% url 'editjourneysearchview' than.pk %}"> <button class="b3" type="submit" >EDIT</button></a>
            </td>
  
  
          </tr>
         {% endfor %}
       
        
        </table>
       
      </div>
      
</div>
<div class="point">
  <button class="b2a">ALL LISTS</button>
 
  
</div>
{% endblock %}